$white: #fff;

$blue: #0A4FA4;
$ligth-blue: #009EE5;
$green: #8CCB38;
$pink: #E51E73;
$dark-pink: #CC286A;
$light-gray: #424953;
$gray: #303640;

$blue: #00c0ff;
$connus-blue: #00adee;
$green: #1ef3a2;
$yellow: #d2b82b;
$orange: #da7a16;
$red: #cb373e;
$vivid-red: #cd151d;
$violet: #90279b;

html,
body,
#root,
#app {
  background-color: $white;
  height: 100%;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logocontainer {
  width: 50px;
  height: 20px;
  text-align: center;
}
